*.zip
*.txt
*.ods

/.conda/
/__pycache__/
/dictionaries-of-covariance-matrices/
/dictionaries-of-scm-original-preproc-complete/
/dictionaries-of-scm-original-preproc-incomplete/
/dictionaries-of-scm-resize-preprocessing/
/preprocessed_images_protocol_2/
/protocol_2_preprocessed_images/
/PREPROCESSED_PROTOCOL_1_CEDAR/
/PREPROCESSED_PROTOCOL_1_GPDS/
/preprocessed-images/
/PREPROCESSING_PROCOTOL_2_CEDAR/
/RESIZING_PREPROCESS_SCM_TEST/
/resultados-supernova/
/SCM_NEW_FEATURES_12_12/
/SCM_NEW_FEATURES_12X12_GPDS/
/SCM_NEW_FEATURES_CEDAR_PROTOCOL_2/
/SCM_NEW_FEATURES_CEDAR_PROTOCOL_2_END_NORMALIZED/
/SCM_NEW_FEATURES_CEDAR_PROTOCOL_2_NORMALIZED/
/scm_new_features_gpds_prot_2_supernova/
/SCM_PROCOTOL_2_CEDAR/
/scm_protocol_1_cedar/
/training_resize_preprocess/
/training_results_2/
/TRAINING_RESULTS_CEDAR_PROTOCOL_1/
/TRAINING_RESULTS_CEDAR_PROTOCOL_2/
/TRAINING_RESULTS_CEDAR_PROTOCOL_2_12_12/
/TRAINING_RESULTS_CEDAR_PROTOCOL_2_IMAGES_NORMALIZED/
/TRAINING_RESULTS_CEDAR_PROTOCOL_2_NEW_FEATURES/
/training_results_new_features_12_12_gpds_protocol_2/
/training-results/